CREATE TABLE IF NOT EXISTS {{.Name | toPlural | toSnake}} (
    id {{.DBDriver | toSQLPrimaryKey}},
{{- range .Params}}
    {{. | toColumnName}} {{. | toSQLType}} NOT NULL DEFAULT {{toSQLDefaultFor $.DBDriver .}},
{{- end}}
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    deleted_at TIMESTAMP
);
