package models

import (
	"gorm.io/gorm"
{{- if hasType .Params "datetime"}}
	"time"
{{- end}}
)

// {{.Name | toModelName}} model
type {{.Name | toModelName}} struct {
	gorm.Model
	{{ range .Params}}{{. | toAttrName}} {{. | toType}} {{. | toJson}}
	{{ end }}
}
