*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.netrwhist
*~
Session.vim
Sessionx.vim
tags
[._]*.un~

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules*
dist*
.cache*
