root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/main"
  cmd = "templ generate && go build -o ./tmp/main ."
  delay = 1000
  exclude_dir = ["tmp", "vendor", "database/migrations", "static", "node_modules"]
  exclude_regex = ["_test.go", ".*_templ\\.go"]
  include_ext = ["go", "templ"]
  kill_delay = "0s"
  send_interrupt = false
  stop_on_error = true

[log]
  time = false

[misc]
  clean_on_exit = true
