package components

templ BackLink(href string, label string) {
	<div class="mb-6">
		<a href={ templ.SafeURL(href) } class="inline-flex items-center gap-1 text-sm text-primary-600 transition-colors duration-150 hover:text-primary-800">
			<svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
			</svg>
			{ label }
		</a>
	</div>
}
