package components

templ Table() {
	<div class="overflow-x-auto rounded-lg border border-gray-200 bg-white shadow-sm">
		<table class="min-w-full divide-y divide-gray-200">
			{ children... }
		</table>
	</div>
}
