package {{.Name|toPlural|toSnake}}

import (
	"log"
	"net/http"
	"strconv"

	"{{moduleName}}/app/models"
	"{{moduleName}}/database"

	"github.com/gin-gonic/gin"
)

// Delete handles DELETE /{{.Name|toPlural|toSnake}}/:id
func Delete(ctx *gin.Context) {
	if _, err := strconv.ParseUint(ctx.Param("id"), 10, 64); err != nil {
		ctx.JSON(http.StatusNotFound, gin.H{"error": "Record not found"})
		return
	}

	var {{.Name|toVarName}} models.{{.Name|toModelName}}

	if err := database.DB.First(&{{.Name|toVarName}}, ctx.Param("id")).Error; err != nil {
		log.Printf("error finding {{.Name|toSnake}} with id %s: %v", ctx.Param("id"), err)
		ctx.JSON(http.StatusNotFound, gin.H{"error": "Record not found"})
		return
	}

	if err := database.DB.Delete(&{{.Name|toVarName}}).Error; err != nil {
		log.Printf("error deleting {{.Name|toSnake}} with id %s: %v", ctx.Param("id"), err)
		ctx.JSON(http.StatusInternalServerError, gin.H{"error": "An unexpected error occurred"})
		return
	}

	ctx.Status(http.StatusNoContent)
}
