package {{.Name|toPlural|toSnake}}

import (
	"{{moduleName}}/app/models"
	"{{moduleName}}/database"
	"net/http"

	"github.com/gin-gonic/gin"
)

// Show handles GET /{{.Name|toPlural|toSnake}}/:id
func Show(ctx *gin.Context) {
	var {{.Name|toVarName}} models.{{.Name|toModelName}}

	if err := database.DB.First(&{{.Name|toVarName}}, ctx.Param("id")).Error; err != nil {
		ctx.JSON(http.StatusNotFound, gin.H{"error": "Record not found"})
		return
	}

	ctx.JSON(http.StatusOK, {{.Name|toVarName}})
}
