package {{.Name|toPlural|toSnake}}

import (
	"log"
	"net/http"
	"strconv"

	"{{moduleName}}/app/models"
	"{{moduleName}}/database"

	"github.com/gin-gonic/gin"
)

type UpdateParams struct {
	{{ range .Params}}{{. | toAttrName}} {{. | toType}} {{. | toJsonBinding}}
	{{ end }}
}

// Update handles PUT/PATCH /{{.Name|toPlural|toSnake}}/:id
func Update(ctx *gin.Context) {
	if _, err := strconv.ParseUint(ctx.Param("id"), 10, 64); err != nil {
		ctx.JSON(http.StatusNotFound, gin.H{"error": "Record not found"})
		return
	}

	var {{.Name|toVarName}} models.{{.Name|toModelName}}

	if err := database.DB.First(&{{.Name|toVarName}}, ctx.Param("id")).Error; err != nil {
		log.Printf("error finding {{.Name|toSnake}} with id %s: %v", ctx.Param("id"), err)
		ctx.JSON(http.StatusNotFound, gin.H{"error": "Record not found"})
		return
	}

	var params UpdateParams
	if err := ctx.ShouldBindJSON(&params); err != nil {
		ctx.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
		return
	}

	{{ range .Params}}{{$.Name|toVarName}}.{{. | toAttrName}} = params.{{. | toAttrName}}
	{{ end }}
	if err := database.DB.Save(&{{.Name|toVarName}}).Error; err != nil {
		log.Printf("error updating {{.Name|toSnake}} with id %s: %v", ctx.Param("id"), err)
		ctx.JSON(http.StatusInternalServerError, gin.H{"error": "An unexpected error occurred"})
		return
	}

	database.DB.First(&{{.Name|toVarName}}, {{.Name|toVarName}}.ID)

	ctx.JSON(http.StatusOK, {{.Name|toVarName}})
}
