package {{.Name|toPlural|toSnake}}

import (
	"fmt"
	"{{moduleName}}/app/models"
	"{{moduleName}}/app/views/layouts"
	"{{moduleName}}/app/views/components"
)

templ Show(item models.{{.Name|toModelName}}, flashMsg string, flashType string) {
	@layouts.Base("{{.Name}} Details", flashMsg, flashType) {
		<div class="mx-auto max-w-3xl px-4 py-8 sm:px-6 lg:px-8">
			@components.BackLink("/{{.Name|toPlural|toSnake}}", "Back to {{.Name|toPlural}}")
			@components.Card() {
				@components.CardHeader(fmt.Sprintf("{{.Name}} #%d", item.ID)) {
					<div class="flex gap-3">
						@components.PrimaryLinkButton(fmt.Sprintf("/{{.Name|toPlural|toSnake}}/%d/edit", item.ID), "Edit")
						@components.DeleteForm(fmt.Sprintf("/{{.Name|toPlural|toSnake}}/%d/delete", item.ID), "Are you sure?")
					</div>
				}
				<dl class="divide-y divide-gray-200">
					{{ range .Params}}@components.DetailRow("{{. | toFormLabel}}") {
						{{ if eq (. | toFormInput) "checkbox" }}@components.BooleanBadge(item.{{. | toAttrName}})
						{{ else if eq (. | toFormInput) "textarea" }}<span class="whitespace-pre-wrap">{ fmt.Sprintf("%v", item.{{. | toAttrName}}) }</span>
						{{ else }}{ fmt.Sprintf("%v", item.{{. | toAttrName}}) }
						{{ end }}
					}
					{{ end }}@components.DetailRow("Created At") {
						{ item.CreatedAt.Format("Jan 02, 2006 15:04") }
					}
					@components.DetailRow("Updated At") {
						{ item.UpdatedAt.Format("Jan 02, 2006 15:04") }
					}
				</dl>
			}
		</div>
	}
}
